* {
    font-family: 'Roboto Slab', serif;
}

.header {
    font-size: 40px;
    font-size: min(max(22px, 6vw), 50px); /* source: https://css-tricks.com/simplified-fluid-typography/ */
    height: 10vh; /* this is prob bad practice */
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 200px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 4px solid rgb(191, 191, 191);
    border-radius: 16px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}