* {
    font-family: 'Roboto Slab', serif;
}

.header {
    font-size: 40px;
    font-size: min(max(22px, 6vw), 50px); /* source: https://css-tricks.com/simplified-fluid-typography/ */
    height: 10vh; /* this is prob bad practice */
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 200px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
